flask==3.0.2
librosa==0.10.1
scipy==1.13.0
matplotlib==3.8.4
mysql-connector-python==8.3.0
cryptography==42.0.5
tqdm==4.67.1
requests==2.32.3
beautifulsoup4==4.13.3
pandas==2.2.3
lxml==5.3.1
markdown==3.7
flask_socketio==5.5.1
watchdog==6.0.0
langchain_google_genai==2.0.11
SQLAlchemy==2.0.38